<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD BREAD(jquery & mongodb)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/moment.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="card border-success">
            <div class="card">
                <div class="mx-5">
                    <div class="card-header text-white bg-secondary">
                        <h1 class="fst-italic">BREAD (Browse, Read, Edit, Add, Delete)</h1>
                        <h3 class="fst-italic">Filters</h3>
                    </div>

                    <div class="card-body">
                        <form id="form-search" action="">
                            <input type="hidden" name="page" value="1">
                            <div class="mb-3 row">
                                <label for="id" class="col-sm-2 col-form-label">
                                    <input class="checkbox" type="checkbox" value="checked" name="idcheck"> ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id" name="id" placeholder="ID" value=''>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="string" class="col-sm-2 col-form-label">
                                    <input class="checkbox" type="checkbox" value="checked" name="checkstring">
                                    String</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="string" name="string"
                                        placeholder="String" value=''>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="integer" class="col-sm-2 col-form-label">
                                    <input class="checkbox" type="checkbox" value="checked" name="checkinteger">
                                    Integer</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="integer" name="integer"
                                        placeholder="Integer" value=''>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="float" class="col-sm-2 col-form-label">
                                    <input class="checkbox" type="checkbox" value="checked" name="checkfloat">
                                    Float</label>
                                <div class="col-sm-10">
                                    <input type="number" step="any" class="form-control" id="float" name="float"
                                        placeholder="Float" value=''>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="date" class="col-sm-2 col-form-label">
                                    <input class="checkbox" type="checkbox" value="checked" name="checkdate">
                                    Date</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="startdate" name="startdate"
                                        placeholder="Start Date" onfocus="(this.type='date')"
                                        onblur="(this.type='text')" value=''>
                                    <br />
                                    <p>to</p>
                                    <input type="text" class="form-control" id="enddate" name="enddate"
                                        placeholder="End Date" onfocus="(this.type='date')" onblur="(this.type='text')"
                                        value=''>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="boolean" class="col-sm-2 col-form-label">
                                    <input class="checkbox" type="checkbox" value="checked" name="checkboolean">
                                    Boolean</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="boolean" name="boolean">
                                        <option selected disabled value="">Choose the boolean ...</option>
                                        <option value="true">true</option>
                                        <option value="false">false</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Search</button>
                            <button id="reset-search" type="button" class="btn btn-warning">Reset</button>
                        </form>
                    </div>


                    <table id="table-users" class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>String</th>
                                <th>Integer</th>
                                <th>Float</th>
                                <th>Date</th>
                                <th>Boolean</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <nav aria-label="...">
                        <ul class="pagination fw-bold"></ul>
                    </nav>

                    <button id="add-btn" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>


            <div class="card" id="card-add" style="display: none;">
                <div class="card-header text-white bg-secondary">
                    <h1 class="fst-italic">Add Data</h1>
                </div>
                <div class="card-body">
                    <form id="form-add" action="">
                        <div class="mb-3 row">
                            <label for="stringdata" class="col-sm-2 col-form-label">String</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="stringdata" placeholder="String" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="integerdata" class="col-sm-2 col-form-label">Integer</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="integerdata" placeholder="Integer"
                                    required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="floatdata" class="col-sm-2 col-form-label">Float</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" id="floatdata" placeholder="Float"
                                    required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="datedata" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="datedata" placeholder="End Date"
                                    onfocus="(this.type='date')" onblur="(this.type='text')" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="booleandata" class="col-sm-2 col-form-label">Boolean</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="booleandata">
                                    <option selected disabled value="">Choose the boolean ...</option>
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button id="cancel-btn" class="btn btn-warning" type="button">Cancel</button>
                    </form>
                </div>
            </div>


            <div class="card" id="card-edit" style="display: none;">
                <div class="card-header text-white bg-secondary">
                    <h1 class="fst-italic">Edit Data</h1>
                </div>
                <div class="card-body">
                    <form id="form-edit" action="">
                        <div class="mb-3 row">
                            <label for="id" class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" disabled id="id-edit" name="id" placeholder="ID"
                                    required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="stringdata" class="col-sm-2 col-form-label">String</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="stringdata-edit" placeholder="String"
                                    name="stringdata" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="integerdata" class="col-sm-2 col-form-label">Integer</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="integerdata-edit" name="integerdata"
                                    placeholder="Integer" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="floatdata" class="col-sm-2 col-form-label">Float</label>
                            <div class="col-sm-10">
                                <input type="number" step="any" class="form-control" id="floatdata-edit"
                                    placeholder="Float" name="floatdata" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="datedata" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="datedata-edit" name="datedata"
                                    placeholder="end date" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="booleandata" class="col-sm-2 col-form-label">Boolean</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="booleandata-edit" name="booleandata">
                                    <option selected disabled value="">Choose the boolean ...</option>
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Update</button>
                        <button id="cancel-edit" class="btn btn-warning" type="button">Cancel</button>
                    </form>
                </div>
            </div>


            <div class="card-footer bg-transparent border-success text-center">

            </div>
        </div>
    </div>

    <script>

        let params = {
            page: 1
        }

        $(document).ready(function () {
            loadData();

            $('#add-btn').click(function () {
                $('#card-add').show()
            })

            $('#cancel-btn').click(function () {
                $('#card-add').hide()
            })

            $('#form-add').submit(function (event) {
                event.preventDefault();
                const stringdata = $('#stringdata').val()
                const integerdata = $('#integerdata').val()
                const floatdata = $('#floatdata').val()
                const datedata = $('#datedata').val()
                const booleandata = $('#booleandata').val()
                addData(stringdata, integerdata, floatdata, datedata, booleandata)
            })

            $('#form-edit').submit(function (event) {
                event.preventDefault();
                const id = $('#id-edit').val()
                const stringdata = $('#stringdata-edit').val()
                const integerdata = $('#integerdata-edit').val()
                const floatdata = $('#floatdata-edit').val()
                const datedata = $('#datedata-edit').val()
                const booleandata = $('#booleandata-edit').val()
                editData(id, stringdata, integerdata, floatdata, datedata, booleandata)
                $('#card-edit').hide()
            })

            $('#table-users tbody').on('click', '.edit-btn', function () {
                getData($(this).attr('iditem'))
                $('#card-edit').show()
            })

            $('#cancel-edit').click(function () {
                $('#card-edit').hide()
            })

            $('#table-users tbody').on('click', '.btn-delete', function () {
                if (confirm('are you sure the data wish be the deleted?')) {
                    deleteData($(this).attr('iditem'))
                }
            })

            $("#form-search").submit(function (e) {
                e.preventDefault();
                $('#form-search').serializeArray().forEach(item => {
                    params[item.name] = item.value
                })
                loadData(params);
            });

            $('#reset-search').click(() => {
                params = { page: 1 }
                loadData(params);
                $('#form-search').trigger("reset");
            })

            $('ul.pagination').on('click', 'a.page-link', (e) => {
                e.preventDefault();
                params.page = $(e.currentTarget).attr('href')
                loadData(params);
            })

        })

        const getData = (id) => {
            $.ajax({
                url: `http://localhost:3000/users/${id}`
            }).done(function (data) {
                $('#id-edit').val(data._id)
                $('#stringdata-edit').val(data.stringdata)
                $('#integerdata-edit').val(data.integerdata)
                $('#floatdata-edit').val(data.floatdata)
                $('#datedata-edit').val(data.datedata)
                $('#booleandata-edit').val(data.booleandata.toString())
            })
        }

        const loadData = (params = { page: 1 }) => {
            $.ajax({
                url: `http://localhost:3000/users`,
                method: 'GET',
                data: params
            }).done(function (response) {
                let html = ''
                response.data.forEach(item => {
                    html += `
                        <tr>
                            <td>${item._id}</td>
                            <td>${item.stringdata}</td>
                            <td>${item.integerdata}</td>
                            <td>${item.floatdata}</td>
                            <td>${moment(item.datedata).format('D MMMM YYYY')}</td>
                            <td>${item.booleandata}</td>
                            <td>
                                <button class="btn btn-success edit-btn" type="button" iditem="${item._id}">edit</button>
                                <button class="btn btn-danger btn-delete" type="button" iditem="${item._id}">delete</button>
                            </td>
                        </tr>
                        `
                });
                $('#table-users tbody').html(html);
                buildPagination(response.page, response.pages);
            });
        }

        const buildPagination = (page, pages) => {
            params.page = page;
            let html = `<li class="page-item ${page == 1 ? 'disabled' : ''}">
                    <a class="page-link" href="${Number(page - 1)}">Previous</a>
                    </li>`
            for (let i = 1; i <= pages; i++) {
                html += `<li class="page-item ${page == i ? ' active' : ''}">
                        <a class="page-link" href="${i}">${i}</a>
                        </li>`
            }
            html += `<li class="page-item ${page > pages - 1 ? "disabled" : ''}">
                    <a class="page-link " href="${Number(page + 1)}">Next</a>
                    </li>`
            $('ul.pagination').html(html);
        }

        const addData = (stringdata, integerdata, floatdata, datedata, booleandata) => {
            $.ajax({
                method: "POST",
                url: "http://localhost:3000/users",
                data: { stringdata, integerdata, floatdata, datedata, booleandata }
            }).done(function (msg) {
                loadData();
                $("#form-add").trigger('reset');
            }).fail(function (err) {
                alert(err)
            })
        }

        const editData = (id, stringdata, integerdata, floatdata, datedata, booleandata) => {
            $.ajax({
                method: "PUT",
                url: `http://localhost:3000/users/${id}`,
                data: { stringdata, integerdata, floatdata, datedata, booleandata }
            }).done(function (msg) {
                loadData();
                $("#form-edit")
            }).fail(function (err) {
                alert(err)
            })
        }

        const deleteData = (id) => {
            $.ajax({
                method: "DELETE",
                url: `http://localhost:3000/users/${id}`
            }).done(function (msg) {
                loadData();
            }).fail(function (err) {
                alert(err)
            })
        }

    </script>
</body>

</html>